{% extends 'shop/base.html' %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% include 'shop/status.html' %}


<div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-4">
        <h5>SUPPLIERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'create-supplier' %}">Create Supplier</a>
            <table class ="table table-sm">
                <tr>            
                    <th>Supplier Name</th>
                    <th>Phone</th>
                    <th></th>        
                </tr>
                {% for supplier in suppliers %}
                <tr>                    
                    <td>{{ supplier.name}}</td>
                    <td>{{ supplier.phone}}</td>
                    <td><a href="{% url 'view-supplier' supplier.id %}" class="btn btn-primary btn-sm">View Details</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h5>LAST 5 TRANSACTIONS</h5>
        <hr>
        <div class="card card-body">
            
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for payment in payments%}
                <tr>                    
                    <td>{{payment.date_created}}</td>                                  
                    <td><a class="btn btn-primary btn-sm" href="#">Update</a></td>  
                    <td><a class="btn btn-danger  btn-sm" href="#">Delete</a></td>  
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
